body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.card {
    width: 400px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    text-align: center;
}

header, main, footer {
    margin-bottom: 20px;
}

h1 {
    font-size: 2em;
    margin: 10px 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* Infinite Gradient Background */
body {
    background: linear-gradient(90deg, skyblue, grassgreen, skyblue);
    background-size: 300% 300%;
    animation: gradient-animation 10s infinite;
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
